/*Universal styling*/
/*
body
  här gömmer vi scrollbar
*/
body {
  overflow: hidden;
  background-color: #ffff;
}
/*
på bodyn och i html sätter vi height till 100 för att använda oss av 100% av höjden.
*/
body,
html {
  height: 100% !important;
}

/*
.arrow och .arrow image
  används för att positionera pilarna. genom padding och height och width
  det gör även så att det inte är selectable
*/
.arrow {
  padding: 10px;
  height: 98vh;
  user-select: none;
}
.arrow img {
  width: 40px;
}

/*
.arrow:hover
  Används för knapp funktionalitet som liknar en bok, den visar användaren att den är clickable
  sätter bakgrunds färgen till en grå och sedan byter den till den genomm en transition
  när användaren sätter muspekaren över en pil ändras även musen for att visa att den är clickable
*/
.arrow:hover {
  background-color: rgba(129, 130, 136, 0.2);
  transition: color 0.5s, background-color 0.5s;

  cursor: pointer;
}

/*
.content
  här ändrar vi margin till 10 pixlar istället, set generellt bättre ut
*/
.content {
  margin: 10px;
}

/*Style for dualband*/

img {
  width: auto;
  min-width: 50px;
}
.example {
  background-color: lightgray;
  padding: 10px;
}

/*Style for greeting page!*/

/*
.city-back
  sätter bakgrundsbilden och gömmer scroll
*/
.city-back {
  background-image: url("../background.jpeg");
  overflow: hidden;
}

/*
i greeting sätter vi padding här för att sätta texten där vi vill. vi ändrar även font och text för centrering och storlek
*/
.greeting {
  padding-left: 15%;
  padding-right: 15%;
  font-size: 50px;
  text-align: center;
}
