/*Universal styling*/
body {
  overflow: hidden;
}

nav {
  height: 50px;
  margin-bottom: 10px;
}

.arrow {
  padding: 10px;
  height: 98vh;
  user-select: none;
}
.arrow img {
  width: 40px;
}
.arrow:hover {
  background-color: rgba(129, 130, 136, 0.2);
  transition: color 0.5s, background-color 0.5s;

  cursor: pointer;
}

.content {
  margin: 10px;
}

.seperator {
  /*min-width: 40vh;
  max-width: 95vh;*/
}

/*Style for html/css page*/
body {
  background-color: #ffff;
}
img {
  width: auto;
}
.example {
  background-color: lightgray;
  padding: 10px;
}

/*Style for greeting page!*/
body,
html {
  height: 100% !important;
}

.city-back {
  background-image: url("../background.jpeg");
  overflow: hidden;
}
.greeting {
  padding-left: 15%;
  padding-right: 15%;
  font-size: 50px;
  text-align: center;
}

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
}
